/**{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(image/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px; 
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 500px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: #ffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
*/

*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("image/img1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    /* height: 10%; */
    display: flex;
    justify-content: space-around;
}

.icon{
    width: 10%;
    /* height: 10%; */
    float: left;
}

.logo{
    color: yellow;
    text-align: center;
    line-height:60px;
    font-size: 40px;
    padding: 0 30px;
    /* margin: 0 30px; */
    /* padding-top: 10px; */
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 50%;
    float: left;
    /* padding-left: 60px; */
    /* height: 30vh; */
    box-sizing: border-box;
}

ul{
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul li{
    float: left;
    list-style: none;
    /* padding: 0 30px; */
    line-height: 60px;
    /* margin-left: 30px; */
    display: block;
    /* margin-top: 10px; */
    text-align: center;
}
li a{
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid white; */
}

li a:hover{
    color: yellow;
}


li a:before{
    content:"";
    position: absolute;
    top: 60%;
    left: 25%;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid yellow;
    transition: all 0.4s linear;
}


li a:hover:before{
    width: 45%;
}

/* .active a{
    background-color: aqua;
} */

 .srch{
    width: 30%;
    float: left;
    margin-left: 270px;
    border: 1px solid yellow;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

.btn{
    width: 15%;
    height: 40px;
    background: yellow;
    border: 2px solid yellow;
    margin-top: 13px;
    color: #000;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search .btn a{
    color: #000;
}
.search .btn:hover{
   background: #fff;
   font-weight: bold;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.btn a{
    text-decoration: none;
}

.content{
    width: 40%;
    height: auto;
    margin: 40px;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
     padding-left: 20px;
     margin-top: 9%;
     letter-spacing: 2px;
}

.content .cn{
    width: 110px;
    height: 30px;
    background: yellow;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.cn a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: yellow;
    font-size: 60px;
}

.form{
    width: 45%;
    margin-left: 150%;
    height: 32  0px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 80px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: serif;
    text-align: center;
    color: yellow;
    font-size: 22px;
    background-color: #000;
    border-radius: 5px;
    margin: auto;
    padding: 8px;

}
.form input{
    width: 240px;
    height: 35px;
    border-bottom: 1px solid yellow;
    border-right: none;
    border-left: none;
    border-top: none;
    background: transparent;
    color: #fff;
    margin-top: 25px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.btnn{
    width: 240px;
    height: 40px;
    background: yellow;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: yellow;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    font-size: 16px;
    /* padding-top: 5px; */
    color: yellow;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: yellow;
}